# Web Design Challenge
## Climate Analysis
   Kate Spitzer


   The assignment will use data generated in the API Challenge assignment and display it on a webpage, but the data needs a
   little massaging, first.
   
   This notebook reads in the weather cities CSV file, converts the index to a column so it behaves like the rest of the
   columns on our website, rearranges the column order so that it makes sense to the web user, and writes the dataframe
   in HTML format.

In [1]:
# Dependencies and Setup
import pandas as pd


# set input and output filenames
input_data_file = "Resources/cities.csv"
output_data_file = "Resources/cities.html"

In [2]:
# read CSV file into dataframe and display
df = pd.read_csv(input_data_file)
df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Hilo,19.7297,-155.0900,69.80,78,1,6.91,US,1610090621
1,Mareeba,-17.0000,145.4333,86.00,79,75,4.61,AU,1610090246
2,Cabo San Lucas,22.8909,-109.9124,61.00,68,0,1.01,MX,1610090457
3,Saskylakh,71.9167,114.0833,-25.15,85,99,6.76,RU,1610090151
4,Cross Lanes,38.4204,-81.7907,35.01,80,90,6.91,US,1610090458
...,...,...,...,...,...,...,...,...,...
566,Porto Belo,-27.1578,-48.5531,77.00,83,0,4.61,BR,1610090482
567,Liaozhong,41.5061,122.7242,8.60,28,0,8.95,CN,1610090600
568,Hay River,60.8156,-115.7999,15.80,85,0,3.44,CA,1610090601
569,Ossora,59.2353,163.0719,-7.28,82,58,5.99,RU,1610090263
570,Guanica,17.9716,-66.9080,70.00,76,0,4.61,PR,1610090601

In [3]:
# convert the index to a column in the dataframe
# and display
df["City ID"] = df.index
df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,City ID
0,Hilo,19.7297,-155.0900,69.80,78,1,6.91,US,1610090621,0
1,Mareeba,-17.0000,145.4333,86.00,79,75,4.61,AU,1610090246,1
2,Cabo San Lucas,22.8909,-109.9124,61.00,68,0,1.01,MX,1610090457,2
3,Saskylakh,71.9167,114.0833,-25.15,85,99,6.76,RU,1610090151,3
4,Cross Lanes,38.4204,-81.7907,35.01,80,90,6.91,US,1610090458,4
...,...,...,...,...,...,...,...,...,...,...
566,Porto Belo,-27.1578,-48.5531,77.00,83,0,4.61,BR,1610090482,566
567,Liaozhong,41.5061,122.7242,8.60,28,0,8.95,CN,1610090600,567
568,Hay River,60.8156,-115.7999,15.80,85,0,3.44,CA,1610090601,568
569,Ossora,59.2353,163.0719,-7.28,82,58,5.99,RU,1610090263,569
570,Guanica,17.9716,-66.9080,70.00,76,0,4.61,PR,1610090601,570

In [4]:
# rearrange the column order for display on our web page
# and display the new dataframe
df = df[["City ID", "City", "Country", "Lat", "Lng", "Date", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]]
df

,City ID,City,Country,Lat,Lng,Date,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,19.7297,-155.0900,1610090621,69.80,78,1,6.91
1,1,Mareeba,AU,-17.0000,145.4333,1610090246,86.00,79,75,4.61
2,2,Cabo San Lucas,MX,22.8909,-109.9124,1610090457,61.00,68,0,1.01
3,3,Saskylakh,RU,71.9167,114.0833,1610090151,-25.15,85,99,6.76
4,4,Cross Lanes,US,38.4204,-81.7907,1610090458,35.01,80,90,6.91
...,...,...,...,...,...,...,...,...,...,...
566,566,Porto Belo,BR,-27.1578,-48.5531,1610090482,77.00,83,0,4.61
567,567,Liaozhong,CN,41.5061,122.7242,1610090600,8.60,28,0,8.95
568,568,Hay River,CA,60.8156,-115.7999,1610090601,15.80,85,0,3.44
569,569,Ossora,RU,59.2353,163.0719,1610090263,-7.28,82,58,5.99
570,570,Guanica,PR,17.9716,-66.9080,1610090601,70.00,76,0,4.61

In [6]:
# write the file to HTML format
df.to_html(output_data_file)